:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --light-blue: rgb(208, 214, 249);
  --dark-blue: rgb(11, 13, 23);
  --grey: rgb(128, 128, 128);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Bellefair", serif;
  font-family: "Barlow Condensed", sans-serif;
}

body {
  color: var(--white);
  background: url(../assets/home/background-home-desktop.jpg);
}

/* HEADER */
header {
  display: flex;
  width: 100%;
  height: 100px;
  margin-top: 15px;
}

.header:nth-child(2) {
  position: relative;
  right: -30px;
  width: 33%;
  height: 100%;
  z-index: 1;
}

.header:last-child {
  width: 60%;
}

/* LOGO */
#logo {
  width: 7%;
}

#logo > img {
  margin: 25px 30px;
  width: 50%;
}

/* GREY LINE */
#line {
  border: 1px solid #575353;
  margin-top: 10%;
  margin-left: 5px;
  width: 450px;
  height: 1px;
}

/* NAVBAR */
nav {
  overflow: hidden;
  padding-left: 100px;
  font-family: "Barlow Condensed", sans-serif;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
}

nav a {
  float: left;
  color: var(--white);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 17px;
  height: 100%;
  padding: 5.5% 0;
  margin: 0 20px;
  text-align: center;
  text-decoration: none;
}

nav a:first-child {
  margin-left: 40px;
}

nav a > span {
  font-weight: 100;
}

nav a:hover {
  border-bottom: 3px solid #979797;
}

nav a.active {
  border-bottom: 3px solid #c4c2c2;
}

/* HERO SECTION */
#hero {
  display: flex;
  width: 81%;
  height: 320px;
  margin: auto;
  margin-top: 150px;
  /* border: 1px solid red; */
}

/* HERO CONTENT  */
.content {
  position: relative;
  width: 50%;
}

.content:nth-child(2) {
  width: 570px;
}

.content h1 {
  font-weight: 100;
  font-size: 150px;
  font-family: "Bellefair", serif;
}

.content h5 {
  font-weight: 100;
  font-size: 28px;
  letter-spacing: 4.75px;
}

.content p {
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 2.5px;
  line-height: 25px;
  text-align: justify;
  text-justify: inter-word;
}

/* EXPLORE CIRCLE */
#circle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  font-size: 16px;
  text-align: center;
  border-radius: 50%;
  background: var(--white);
  transition: all 0.1s linear;
  z-index: 5;
}

#circle h4 {
  position: relative;
  top: 40%;
  color: var(--dark-blue);
  font-size: 32px;
  font-weight: 100;
  font-family: "Bellefair", serif;
  z-index: 10;
}

#circle .hover {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 0.15em solid var(--white);
  transform: translate(-50%, -50%);
  transition: all 0.3s 0.08s linear;
}

#circle:hover .hover {
  display: block;
  width: 300px;
  height: 300px;
  opacity: 0.2;
  background-color: var(--white);
  z-index: 0;
}
